.container {
  text-align: block;
  margin: 0 auto;
}
h3 {
  font-size: 30px;
}
.row {
  width: 600px;
}
ul.striped-list {
  max-width: 400px;
  min-width: 400px;
  padding: 10px;
  text-align: left;
  list-style-type: none;
}
ul.striped-list > li {
  border: 1px solid rgb(221, 221, 221, 221);
  padding: 10px;
}
ul.nd-list {
  max-width: 400px;
  min-width: 400px;
  padding: 10px;
  text-align: left;
  list-style-type: none;
  column-gap: 40px;
  font-size: x-large;
}
ul.nd-list > li {
  border: 1px solid rgb(221, 221, 221, 221);
  padding: 10px;
}
small {
  font-size: 10px;
}
span {
  padding-left: 50px;
  font-size: 20px;
}
.span1 {
  padding-left: 71px;
}
p {
  margin-top: -10px;
}
.masterGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.today {
  width: 50%;
  min-width: 400px;
  display: grid;
  grid-template-columns: 400px 600px;
}
.head-grid {
  display: grid;
  grid-template-columns: 400px 300px;
}
.friday {
  padding-left: 95px;
}
.sun {
  margin-right: 5px;
  margin-top: 5px;
}
